.clock-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.digit-container {
  display: flex;
}

.digit {
  width: 2rem;
  height: 2rem;
  border: 1px solid #ccc;
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #f8f8f8;
  transition: background-color 0.3s ease-in-out;
}
.ampm {
  width: 4rem;
  height: 2rem;
  border: 1px solid #ccc;
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #f8f8f8;
  transition: background-color 0.3s ease-in-out;
}

.colon {
  margin: 0 0.5rem;
  font-weight: bold;
}

/* Add some styling for the flipped effect, e.g., with a different background color */
.digit.flip {
  background-color: #aaffaa; /* Change this to your desired flipped color */
}
/* Inside your Clock.css file or equivalent */
.clock-container {
  /* ... (existing styles) */
  position: relative;
}

.switch-button {
  position: absolute;
  top: 10px; /* Adjust the top position as needed */
  right: 10px; /* Adjust the right position as needed */
  background-color: #fff; /* Button background color */
  border: none; /* Remove button border if needed */
  cursor: pointer;
}
